<div class="container mt-5">
  <div class="row jumbo mt-4" id="homeRecommendedProducts">
    <h1 class="fw-bold text-center mb-4" style="margin-top: 1.5rem; color: #80489c">Keunggulan BUMDes Mugi Lestari</h1>
    <div class="d-md-flex">
      <div class="col text-center">
        <i class="bi bi-people-fill" style="font-size: 8rem"></i>
        <div class="fs-4 fw-bold">Manajemen Kelola Yang Baik</div>
        <div>Pengelolaan BUMDes dilaksanakan dengan prinsip kooperatif, partisipatif, emansipatif, transparansi, akuntabel, dan sustainable yang berfokus pada pengembangan perekonomian Desa Kabunan.</div>
      </div>
      <div class="col text-center">
        <i class="bi bi-globe-asia-australia" style="font-size: 8rem"></i>
        <div class="fs-4 fw-bold">Memberikan Pelayanan Kepada Masyarakat Luas</div>
        <div>
          BUMDes Mugi Lestari membantu dan mempermudah masyarakat dalam memasarkan produk usahanya dengan bertindak sebagai penampung dan menjual produk hasil UMKM Desa Kabunan. BUMDes Mugi Lestari menciptakan peluang-peluang usaha baru
          sehingga dapat memberikan peningkatan ekonomi dan juga lapangan kerja baru untuk masyarakat.
        </div>
      </div>
      <div class="col text-center">
        <i class="bi bi-graph-up-arrow" style="font-size: 8rem"></i>
        <div class="fs-4 fw-bold">Persaingan Usaha Dilakukan Secara Sehat</div>
        <div>BUMDes Mugi Lestari dapat meningkatkan value dari produk UMKM dengan branding dan pemasaran yang lebih masif dan terkelola di sosial media dengan induk website sehingga akan mengurangi adanya perang harga.</div>
      </div>
    </div>
  </div>
  <div class="row mt-4"></div>
</div>
