<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h3>Thank you for ordering, <%= sessionUser %>!</h3>
          <h6 class="mb-3">Buka link berikut untuk melanjutkan transaksi di Whatsapp</h6>
          <a class="fw-bold mb-5" href="https://wa.me/<%= no_hp %>" target="_blank">Continue to Whatsapp</a>
          <div class="d-grid mt-4">
            <a class="btn btn-primary mb-2" href="/cart">Back to Cart</a>
            <a class="btn btn-secondary" href="/orders">View my Orders</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
